* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: darkred;
    font-family: 'Segoe UI', Roboto, sans-serif;

}
main {
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}
header{
    background-color: lightgray;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;

}
header img {
  float: right;
    max-width: 200px;
}
#contact-button {
    border: none;
    border-color: darkgreen;
    padding: 0.5rem 0.75rem;
    background-color: darkred;
    color: white;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 1rem;
}
legend {
    color: darkred;
    font-variant: small-caps;
    font-size: 1.5rem;
    padding: 0 1rem;
}
fieldset {
    border: 1px solid darkred;
    padding: 1rem;
    margin-bottom: 1.25rem;
}
label {
    display: block;
    padding-bottom: .2rem;
}